<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bakery App</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='~/css/styles.css'>
  </head>
  <body>
    @* Home Icon Button *@
    <a href="/"><button class="btn" id="homeButton"><i class="fa fa-home"></i></button></a>

    <div class="container body-container">
      @RenderBody()
    </div> 

    @Html.Partial("Footer") 
    
  </body>
</html>