@{
  Layout = "_Layout";
}
@model HairSalon.Models.Stylist

<h1>Delete Stylist</h1>

<div class="form-container card">
  <h4 class="form-label" >@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h4>
  <br>
  @using (Html.BeginForm())
  {
    <input class="btn btn-info submit-button" type="submit" value="Delete Stylist" />
  }
</div>  

<p>@Html.ActionLink("Back to Stylists", "Index")</p>






  
 

