@{
  Layout = "_Layout";
}

<h1>I am the Homepage!</h1>
<h3>I am the Views/Home/Index.cshtml</h3>

<p>@Html.ActionLink("See all Stylist", "Index", "Stylists")</p>
<p>@Html.ActionLink("View all Clients", "Index", "Clients")</p>
