@{
  Layout = "_Layout";
}
@model HairSalon.Models.Client

<h1>Add Client</h1>

<div class="form-container">
  @using (Html.BeginForm())
  {
    <h4 class="form-label">Enter Client Name</h4>
    <h4 class="form-input">@Html.TextBoxFor(model => model.Name)</h4>
    <h4>Choose Stylist</h4>
    <h4>@Html.DropDownList("StylistId")</h4>
    <br/>
    <input type="submit" value="Add Client" class="btn btn-info submit-button" />
  }
</div>

<p>@Html.ActionLink("Back to Clients", "Index")</p>
<p>@Html.ActionLink("Back to Stylist", "Index", "Stylists")</p>




