@{
  Layout = "_Layout";
}
@model HairSalon.Models.Client

<h1>Delete Client</h1>
<h3>Are you sure you want to DELETE this client?</h3>

<div class="form-container card">
  <h4 class="form-label" >@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h4>
  <br>
  @using (Html.BeginForm())
  {
      <input class="btn btn-info submit-button" type="submit" value="Delete Client" />
  }
</div>

<p>@Html.ActionLink("Back to Clients", "Index")</p>