@{
  Layout = "_Layout";
}
@model HairSalon.Models.Stylist

<h1>Add Stylist</h1>

<div class="form-container card">

  @using (Html.BeginForm())
  {
    <h4 class="form-label">Enter Name:</h4>
    <h4 class="input-field">@Html.TextBoxFor(model => model.Name)</h4>

    <h4 class="form-label">Enter Specialty:</h4>
    <h4 class="input-field">@Html.TextBoxFor(model => model.Specialty)</h4>

    <input class="btn btn-info submit-button" type="submit" value="Add Stylist" />
  }

</div>

<p>@Html.ActionLink("Back to Stylist", "Index")</p>
